@charset "utf-8";
@media ( max-width: 1366px ) {
    /*resize-display*/
    .pc { display: none !important;}
    .tbv { display: none !important;}
    .tbh { display: block !important;}
    .mb { display: none !important;}
    .downIcon { bottom:-10px;}
    .subSection {padding: 140px 0;}
}
@media ( max-width: 1200px ) {
    /*resize-display*/
    .pc { display: none !important;}
    .tbv { display: none !important;}
    .tbh { display: block !important;}
    .mb { display: none !important;}
}
@media ( max-width: 768px ) {
    /*resize-display*/
    .pc { display: none !important;}
    .tbv { display: block !important;}
    .tbh { display: none !important;}
    .mb { display: none !important;}
  body {
    width: 100%;
  }
  .subSection {
    min-height:652px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .logo_box {
    margin: 3em auto;
  }
  .textAnimation h1 {
    font-size: 2rem;
  }
  .subSectiontitle {
    font-size: 2.4rem;
  }
  .subSectiontxt {
    width: 80%;
  }
  /*  */
  .secHead {
    left: 5px;
    padding: 2rem 0;
  }
  .about_list_ul {
    width: 95%;
    margin: 0 auto;
  }
  .secHead {
    font-size: 1.8rem;
  }
  /*  */
  .film {
    width: 100%;
  }
  .project_info {
    height: auto;
  }
/*  */
  .projecLists .projectList {
    width: calc(100%) !important;
  }

/*  */
  .workListwrap {
    width: 95%;
  }
  .work_title {
    width: 100%;
  }
  .work_contant {
    width: 100%;
  }
  .work_title {
    padding-bottom: 30px;
  }
  /*  */
  .item {
    height:100%;
  }
}
@media ( max-width: 560px ) {
    /*resize-display*/
    .pc { display: none;}
    .tbv { display: none;}
    .tbh { display: none;}
    .mb { display: block;}
}